[Unit]
Description=Motion Detection Service
After=network.target

[Service]
ExecStart=/home/emli/scripts/motion_detect.sh
WorkingDirectory=/home/emli/scripts/
Restart=always
User=root

[Install]
WantedBy=multi-user.target