[Unit]
Description=MQTT Bridge Service
After=network.target

[Service]
ExecStart=/home/emli/scripts/mqtt_bridge.sh
WorkingDirectory=/home/emli/scripts/
Restart=always
User=emli
Group=emli

[Install]
WantedBy=multi-user.target