[Unit]
Description=Rain Detection Service
After=network.target

[Service]
ExecStart=/home/emli/scripts/rain_detect.sh
WorkingDirectory=/home/emli/scripts/
Restart=always
User=root

[Install]
WantedBy=multi-user.target
