[Unit]
Description=Rain Detection Service
After=network.target

[Service]
ExecStart=/home/emli/scripts/rain_detect.sh
Restart=always
User=emli
Group=emli
WorkingDirectory=/home/emli/scripts/

[Install]
WantedBy=multi-user.target
